<html>
<head>

</head>
<body>
    <h1>{{ "Hello world!" }}</h1>

    {% if 1 is not null %}
        {{ "success"|upper }}
    {% else %}
        {{ unknow("bad luck")|function }}
    {% endif %}
</body>
</html>
